body{
background-color: rgb(222, 249, 249)!important;
background-image:url('C:\Users\himan\OneDrive\Desktop\backend development\APPLICATION\blog-app-fontend\blog-app-frontend\public\cloud.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}

.page-item.active .page-link{
    background-color: #121212!important;
    border-color: #121212!important;
}